<div *ngIf="product" class="row mt-5">
  <div class="col-lg-6">
    <div class="card-deck">
      <div class="card img-card">
        <img
          class="card-img-top"
          src={{product.url}}
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="detail-product">
    <h3 class="product-name">{{product.name}}</h3>
      <p class="price">{{ product.price | currency: 'USD': true}}</p>
      <p class="description">
        {{product.description}}
      </p>
      <p-dropdown
        [options]="productCount"
        [(ngModel)]="productQuantity"
        class="btn-dropdown"
      ></p-dropdown>
      <p-button (click)="addToCart(product, productQuantity)" label="Add to cart"></p-button>
      <div class="back-to-product-list">
        <a routerLink="/list-products" ><i class="pi pi-arrow-left"></i> Back to product list</a>
      </div>
    </div>
  </div>
</div>
