
.info-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    img{
        max-width: 200px;
    }
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .validate{
        color: red;
        font-size: 12px;
    }
    .input-width{
        width: 300px;
    }
}