<div class="row mt-5">
  <div class="col-lg-6">
    <div class="info-cart" *ngFor="let item of cartItems">
      <div class="card-deck">
        <div class="card">
          <img
            class="card-img-top"
            src="{{ item.url }}"
            alt="{{ item.name }}"
          />
        </div>
      </div>
      <div class="detail">
        <p>{{ item.name }}</p>
        <p>{{ item.price | currency : "USD" : true }}</p>
        <input
          type="number"
          [(ngModel)]="item.amount"
          class="form-control"
          min="0"
          max="10"
          (ngModelChange)="selectchange(item.amount, item)"
        />
        <p-button label="Delete" (click)="removeItem(item.id)" ></p-button>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group" [formGroup]="formGroup">
      <label for="name">Full Name</label>
      <input
        type="text"
        id="name"
        pInputText
        placeholder="(minimum 3 characters)"
        formControlName="fullName"
        class="input-width"
      />
      <span
        class="validate"
        *ngIf="
          formGroup.controls.fullName.errors?.required &&
          formGroup.controls.fullName.touched
        "
        >Full Name is required</span
      >
      <span
        class="validate"
        *ngIf="formGroup.controls.fullName.errors?.minlength"
      >
        Full Name invalid
      </span>
      <label for="address">Address</label>
      <input
        type="text"
        id="address"
        pInputText
        placeholder="(minimum 6 characters)"
        formControlName="address"
        class="input-width"
      />
      <span
        class="validate"
        *ngIf="
          formGroup.controls.address.errors?.required &&
          formGroup.controls.address.touched
        "
        >Address is required</span
      >
      <span
        class="validate"
        *ngIf="formGroup.controls.address.errors?.minlength"
      >
        Address invalid
      </span>
      <label for="integeronly">Credit Cart Number</label>
      <p-inputNumber
        inputId="integeronly"
        placeholder="(16-digit number)"
        formControlName="creditCard"
        class="input-width"
      >
      </p-inputNumber>
      <span
        class="validate"
        *ngIf="
          formGroup.controls.creditCard.errors?.required &&
          formGroup.controls.creditCard.touched
        "
        >Credit card is required</span
      >
      <small>We'll never share your payment details with anyone else.</small>
      <p-button
        (click)="onSubmitForm($event)"
        [disabled]="formGroup.invalid"
        label="Submit"
      ></p-button>
    </div>
  </div>
</div>
<h3>Total: {{ totalPrice | currency : "USD" : true }}</h3>
<ng-template #noCart>
  <div class="empty-cart-message">
    Cart is Empty! Please, <a routerLink="/"> add product to cart</a>.
  </div>
</ng-template>
